/* 重置样式 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 68%; /* 占据屏幕高度的80% */
    position: relative;
}

.lonlat-container, .speed-container, .statusHCSDS-container, .altitude-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px; /* 根据需要调整内边距 */
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.text-lon, .text-lat, .text-speedms, .text-speedkmh, .text-status, .text-HCSDS, .text-altitude {
    width: 50%;
    text-align: left; /* 左对齐文本 */
    font-size: 16px; /* 根据需要调整字体大小 */
    margin: 0; /* 清除默认的外边距 */
}

